img{
    max-width: 100%;
    border-radius: 1px;
    min-width: -webkit-fill-available;
}

.img-raised{
    box-shadow: $box-shadow-raised;
}

.team-img{
    padding-top:80px;
    padding-bottom: 30px;
    height:340px;
}

.publication-journal-image{
    float: left;
    margin-bottom: 20px;
    margin-right: 50px;
    max-height: 280px;
    width: 300px;
}

.publication-cover{
    margin-right: 130px !important;
    width: 220px !important;
}

.roles{
    max-height: 130px;
    // border: 2px solid $primary-color;
}

.ctd2-header-image {
  position: inherit !important;
  max-height: 110% !important;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.partner-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.page-header-image-contact-us{
    max-height: 1200px;
    background-image: url("img/moores_light.jpg");
}

.resources-icons {
    max-width: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.workflow-icon {
    max-width: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 60px;
}

.grant-logo {
  padding-right: 20px !important;
  max-width: 500px;
}

.grant-description-logo {
  max-width: 200px;
  padding-bottom: 40px;
}

.split-arrows {
  width: 120px;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (max-width: 950px) {
  .split-arrows {
    display:none;
  }
}

@media only screen and (max-width: 1000px) {
  .team-img {
    height: 250px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1399px) {
  .team-img {
    height:280px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1550px) {
  .team-img {
    height:320px;
  }
}

@media only screen and (min-width: 2000px) {
  .split-arrows {
    width:150px;
  }
}
