.section{
    position: relative;
    background: $white-color;

    .row + .category{
        margin-top: $margin-base-vertical;
    }
}

.info-color-background {
  background: $info-color;
}

.primary-color-background {
  background: $primary-color;
}

.lighter-gray-background {
  background: $lighter-gray !important;
}

.mint-background {
  background: $mint !important;
}

.section-navbars{
    padding-bottom: 0;
}

.section-full-screen{
    height: 100vh;
}
.section-signup{
    padding-top: 20vh;
}

.page-header{
    height: 100vh;
    padding: 0;
    color: $white-color;
    position: relative;

    background-position: center center;
    background-size: cover;

    .page-header-image{
        position: absolute;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .container{
        height: 100%;
        z-index: 1;
        text-align: center;
        position: relative;

        > .content-center{
            position: absolute;
            top: 50%;
            left: 50%;

            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

            text-align: center;
            padding: 0 15px;
            color: #FFFFFF;
            width: 100%;
            max-width: 880px;
        }
    }
    .category,
    .description{
        color: $opacity-5;
    }

    &.page-header-small{
        height: 70vh;
    }

    &:after,
    &:before{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: "";
    }

    &:before{
        background-color: rgba(0,0,0,.4);
    }

    &[filter-color="orange"]{
        @include linear-gradient(rgba($black-color,.20), rgba(224, 23, 3, 0.6));
    }

    .container{
        z-index: 2;
    }

}

.clear-filter{
    &:after,
    &:before{
        display: none;
    }
}

.section-story-overview{
    padding: 50px 0;

    .image-container{
        height: 335px;
        position: relative;
        background-position: center center;
        background-size: cover;
        box-shadow: $box-shadow-raised;
        border-radius: .25rem;

        & + .category{
            padding-top: 15px;
        }

        &.image-right{
            z-index: 2;

            + h3.title{
                margin-top: 120px;
            }
        }

        &.image-left{
            z-index: 1;
        }

        &:nth-child(2){
            margin-top: 420px;
            margin-left: -105px;
        }
    }

    p.blockquote{
        width: 220px;
        min-height: 180px;
        text-align: left;
        position: absolute;
        top: 376px;
        right: 155px;
        z-index: 0;
    }
}

.section-nucleo-icons{
     .nucleo-container img{
        width: auto;
        left: 0;
        top: 0;
        height: 100%;
        position: absolute;
    }

     .nucleo-container{
        height: 335px;
        position: relative;
    }

     h5{
        margin-bottom: 35px;
    }

     .icons-container{
        position: relative;
        max-width: 450px;
        height: 300px;
        max-height: 300px;
        margin: 0 auto;

    }
     .icons-container i{
        font-size: 34px;
        position: absolute;
        left: 0;
        top: 0;
    }

     .icons-container i:nth-child(1){
        top: 5%;
        left: 7%;
    }

     .icons-container i:nth-child(2){
         top: 28%;
         left: 24%;
    }

     .icons-container i:nth-child(3){
         top: 40%;
    }

     .icons-container i:nth-child(4){
         top: 18%;
         left: 62%;
    }

     .icons-container i:nth-child(5){
         top: 74%;
         left: 3%;
    }

     .icons-container i:nth-child(6){
         top: 36%;
         left: 44%;
        font-size: 65px;
        color: #f96332;
        padding: 1px;
    }

     .icons-container i:nth-child(7){
         top: 59%;
         left: 26%;
    }

     .icons-container i:nth-child(8){
         top: 60%;
         left: 69%;
    }

     .icons-container i:nth-child(9){
        top: 72%;
        left: 47%;
    }

     .icons-container i:nth-child(10){
         top: 88%;
         left: 27%;
    }

     .icons-container i:nth-child(11){
         top: 31%;
         left: 80%;
    }

     .icons-container i:nth-child(12){
         top: 88%;
         left: 68%;
    }

     .icons-container i:nth-child(13){
         top: 5%;
         left: 81%;
    }

     .icons-container i:nth-child(14){
         top: 58%;
         left: 90%;
    }

     .icons-container i:nth-child(15){
        top: 6%;
        left: 40%;
    }
}

.section-images{
    max-height: 670px;
    height: 670px;

    .hero-images-container,
    .hero-images-container-1,
    .hero-images-container-2{
        margin-top: -38vh;
    }

    .hero-images-container{
        max-width: 670px;
    }

    .hero-images-container-1{
        max-width: 390px;
        position: absolute;
        top: 55%;
        right: 18%;

    }

    .hero-images-container-2{
        max-width: 225px;
        position: absolute;
        top: 68%;
        right: 12%;
    }
}


[data-background-color="orange"]{
    background-color: $orange-bg;
}
[data-background-color="black"]{
    background-color: $black-color;
}

[data-background-color]{
    color: $white-color;

    .title,
    .social-description h2,
    p,
    p.blockquote,
    p.blockquote small,
    h1,h2,h3,h4,h5,h6,a:not(.btn):not(.dropdown-item),
    .icons-container i{
        color: $white-color;
    }

    .separator{
        background-color: $white-color;
    }

    .navbar.bg-white p{
        color: $default-color;
    }

    .description,
    .social-description p{
        color: $opacity-8;
    }

    p.blockquote{
        border-color: $opacity-2;
    }

    //radio and checkboxes
    .checkbox label::before,
    .checkbox label::after,
    .radio label::before,
    .radio label::after{
        border-color: $opacity-2;
    }

    .checkbox label::after,
    .checkbox label,
    .radio label{
        color: $white-color;
    }

    .checkbox input[type="checkbox"]:disabled + label,
    .radio input[type="radio"]:disabled + label  {
        color: $white-color;
    }

    .radio input[type="radio"]:not(:disabled):hover + label::after,
    .radio input[type="radio"]:checked + label::after {
        background-color: $white-color;
        border-color: $white-color;
    }

    //inputs
    @include input-coloured-bg($opacity-5, $white-color, $white-color, $transparent-bg, $opacity-1, $opacity-2);

    .input-group-addon,
    .form-group.form-group-no-border .input-group-addon,
    .input-group.form-group-no-border .input-group-addon{
        color: $opacity-8;
    }

    //buttons
    .btn.btn-simple{
        background-color: $transparent-bg;
        border-color: $opacity-5;
        color: $white-color;

        &:hover,
        &:hover,
        &:focus,
        &:active{
            background-color: $transparent-bg;
            border-color: $white-color;
        }
    }

    //tabs
    .nav-tabs{
        > .nav-item{
            >.nav-link{
                i.now-ui-icons{
                    color: $white-color;
                }
            }
        }
    }

    &.section-nucleo-icons .icons-container i:nth-child(6){
        color: $white-color;
    }
}

.padding-contact-us {
  padding: 200px 0;
}

.padding-bottom {
  padding-bottom: 60px;
}

.padding-top {
  padding-top: 60px;
}

.half-padding-top {
  padding-top: 30px;
}

.half-padding-bottom {
  padding-bottom: 30px;
}

.padding-bottom-grant {
  padding-bottom: 30px;
}

.workflow-padding {
  padding: 0 60px;
}

.publications-indent{
  padding-left: $indent-publications;
}

.partner-header{
  max-height: 1000px !important;
}

.homepage-section {
  padding: 80px 0;
}

.homepage-banner-row {
    align-items: center !important;
    background-color: rgba(0, 49, 115, 0.65);
}

.homepage-banner-logos {
    flex-basis: 33%;
    padding: 0;
}

.colored-section {
  background-color: $primary-color;
}

.border-element {
  border: 4px solid $primary-color;
}

.grant-logo-title {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    padding-bottom: 18px;
}

.publication {
    padding: 80px 0;
    min-height: 300px;
}

.line-left {
    border-left: 3px solid #000000;
}

.contact-us-header {
    background-image: url("/img/moores_inside.jpg") !important;
}


.map-plugin {
    padding: 0 170px;
}

.flex-column {
  align-content:space-between;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  flex-flow:column wrap;
  height:850px;
  margin-right:-15px;
  margin-left:-15px;
}

.flex-column-title {
  flex-basis:12%;
}

.flex-column-item {
  flex-basis:44%;
}

.team-member {
  flex-basis: 33%;
  text-align: center;
}

.project-logo {
  flex-basis: 25%;
  padding-right: 15px;
  padding-left: 15px;
}

.contact-us-location {
  flex-basis: 50%;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.contact-us-locations-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 20px 0;
  align-items: center;
}

.contact-us-map {
    margin: 0px 80px;
    flex-basis: 100%;
    min-height: 400px;
    align-items: center;
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
  .homepage-banner-logos {
    flex-basis: 100% !important;
    padding: 1% 20% !important;
} 
}

@media only screen and (min-width: 601px) and (max-width: 700px) {
  .homepage-banner-logos {
    flex-basis: 100% !important;
    padding: 1% 16% !important;
} 
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .flex-column {
    height:1800px;
  }
  .flex-column-title {
    width:100%;
    flex-basis:auto;
  }
  .flex-column-item {
    width:100%;
    flex-basis:auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .homepage-banner-row {
      margin: 0 15%;
  }
    .team-member {
    flex-basis: 45%;
    padding-left: 5%;
  }
  .grant-logo-title {
    justify-content: center;
    padding-bottom: 0;
  }
  .year {
    text-align: center;
    font-size: 300%;
  }
  .publication-row {
    justify-content: center;
  }
  .project-logo {
    flex-basis: 36%;
    padding-bottom: 20px;
  }
  .project-title {
    flex-basis: 90%;
    text-align: center;
    font-size: 80% !important;
  }
  .margin-left {
    text-align: center;
  }
  .contact-us-location {
    flex-basis: 100%;
    margin: 0px 8%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .flex-column {
    height:1800px;
  }
  .flex-column-title {
    width:100%;
    flex-basis:8%;
    padding-top:30px;
  }
  .flex-column-item {
    width:100%;
    flex-basis:20%;
    align-items:baseline;
  }
  .homepage-banner-row {
    margin: 0 15%;
  }  
  .homepage-banner-logos {
    flex-basis: 100%;
    padding: 1% 10%;
}
  .workflow-padding {
    padding: 0 30px;
  }
  .team-member {
    flex-basis: 90%;
    margin-left: 20px;
    margin-right: 20px;
    text-align:center;
  }
  .team-name-description {
    max-width: none;
  }
  .grant-logo-title {
    justify-content: center;
    padding-bottom: 0;
  }
  .year {
    text-align: center;
  }
  .publication-row  {
    justify-content: center;
  }
  .project-logo {
    flex-basis: 54%;
    padding-bottom: 20px;
  }
  .project-title {
    flex-basis: 90%;
    text-align: center;
    font-size: 80% !important;
  }
  .contact-us-location {
    flex-basis: 100%;
    margin: 0 5%;
    text-align: center;
  }
  .location-text-line {
    font-size: 120%;
  }
  .contact-us-map {
     display: none;
  }
}